@page
@model PMLWebApp.Pages.PML.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Home Screen</h1>

<form method="get">
    <input type="text" name="searchQuery" placeholder="Search player or team" />
    <button type="submit">Search</button>
    

</form>
<button onclick="window.location.href='@Url.Page("/PML/new_Detail")'">New</button>

<table class="table">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Rating</th> 
            <th>Team Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Players.Count > 0)
        {
            foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Player_ID</td>
                    <td>@player.Name</td>
                    <td>@player.Age</td>
                    <td>@player.Rating</td> 
                    <td>@player.Team_Name</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@player.Player_ID">Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No players found.</td> <!-- colspan 수정 -->
            </tr>
        }
    </tbody>
</table>

